/* color palette from <https://github.com/vuejs/theme> */

/* light theme */
$light-bg: #ffffff;
$light-primary-color: #333333;
$light-secondary-color: #666666;
$light-link-color: #f4d35e;
$light-border-color: #e0e0e0;
$light-button-bg: #f4d35e;
$light-button-color: #333333;
$light-navbar-bg: #f8f9fa;
$light-input-bg: #f1f1f1;

/* dark theme */
$dark-bg: #121212;
$dark-primary-color: #e0e0e0;
$dark-secondary-color: #b0b0b0;
$dark-link-color: #bb86fc;
$dark-border-color: #333333;
$dark-button-bg: #1e1e1e;
$dark-button-color: #ffffff;
$dark-navbar-bg: #1f1f1f;
$dark-input-bg: #2e2e2e;

$light-theme: (
    background-color: #ffffff,
    primary-text-color: #333333,
    secondary-text-color: #666666,
    link-color: #f4d35e,
    border-color: #e0e0e0,
    button-background-color: #f4d35e,
    button-text-color: #333333,
    navbar-background-color: #f8f9fa,
    input-background-color: #f1f1f1,
);

$dark-theme: (
    background-color: #121212,
    primary-text-color: #e0e0e0,
    secondary-text-color: #b0b0b0,
    link-color: #bb86fc,
    border-color: #333333,
    button-background-color: #1e1e1e,
    button-text-color: #ffffff,
    navbar-background-color: #1f1f1f,
    input-background-color: #2e2e2e,
);

$themes: (
    light: $light-theme,
    dark: $dark-theme,
);

$themeMap: ();
@mixin useTheme() {
    @each $key, $value in $themes {
        $themeMap: $value !global;
        html[theme="#{$key}"] & {
            @content;
        }
    }
}

@function getVar($paramName) {
    @return map-get($themeMap, $paramName);
}

// Mixin 用于将 map 转换为 CSS 变量
@mixin export-theme($theme-map) {
    @each $key, $value in $theme-map {
        --#{$key}: #{$value}; // 生成 --变量名: 值;
    }
}

:root[theme="light"] {
    @include export-theme($light-theme);
}
:root[theme="dark"] {
    @include export-theme($dark-theme);
}
